html{
    box-sizing: border-box;
    height: 100%;
}

*, *::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: #212529;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-display: swap;
    height: inherit;
    justify-content: center
}

.wrapper{
    backdrop-filter: blur(5.5px);
    background: #0a0d0f;
    border: 1px solid #000000;
    border-radius: 10px;
    /* box-shadow: ;*/
    height: 540px;
    width: 400px;
    padding: 20px 35px;
}

.screen{
    background-color: #000000;
    height: 80px;
    width: 326px;
    color: #ffffff;
    font-size: 35px;
    padding: 20px 20px 10px 20px;
    text-align: right;
}

.calc-btn-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.calc-btn, .calc-btn-double, .calc-btn-triple{
    background-color: #333333;
    color: #ffffff;
    border-radius: 50px;
    flex-basis: 20%;
    font-size: 24px;
    height: 65px;
    border: 1px solid rgba(35, 35, 35, 0.1);

}
/*   Modificacoes apenas no ultimo elemento*/
.calc-btn-row:first-child .calc-btn:not(:last-child){
    background-color: #A5A5A5;
    color: #000000;
}
.calc-btn:last-child{
    background-color: orange;
    font-size: 36px;

}


.calc-btn-double{
    flex-basis: 47%;
    text-align: left;
    padding: 0 25px; /* Editar depois*/
}
